:root {
	--iris: #4d5ae5;
	--ocean: #404bbf;
	--navy-blue: #2e2f42;
	--green: #31d0aa;
	--slate: #434455;
	--light-slate: #8e8f99;
	--cornflower: #e7e9fc;
	--cloud: #f4f4fd;
	--navy-blue-modal: rgba(46, 47, 66, 0.4);
	--grey: rgba(46, 47, 66, 0.7);
	--white: #fff;
	--dairy: #fcfcfc;
}

:root {
    --font-family: "Roboto", sans-serif;
    --second-family: "Raleway", sans-serif;
  }
  h1, h2, h3, h4, h5, h6, p{
    margin: 0;
  }

  a {
    text-decoration: none;
    }
    
    ul {
    list-style: none;
    padding-left: 0; 
    margin: 0;
    }

    img{
        display: block;
    max-width: 100%;
    height: auto;
    }

.header-style{
border-bottom: 1px solid #e7e9fc
}

.header-nav{
    display: flex;
    align-items: center;
}
    
.container-header{
    display: flex;
    align-items: center;
}

.logo-white-footer{
    font-family: var(--second-family);
    font-weight: 700;
font-size: 18px;

/* line-height: 21px; */ 
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--cloud);
display: inline-block;
margin-bottom: 16px;
}

.logo-footer{
    font-family: var(--second-family);
    font-weight: 700;
font-size: 18px;

/* line-height: 21px; */ 
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--iris);
display: inline-block;
margin-bottom: 16px;
  }

.logo{
    font-family: var(--second-family);
    font-weight: 700;
font-size: 18px;

/* line-height: 21px; */ 
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--iris);
margin-right: 76px
  }

.logo-black{
    font-family: var(--second-family);
    font-weight: 700;
font-size: 18px;

/* line-height: 21px; */ 
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--navy-blue);
  }

.page-info{
    display: flex;
    align-items: center;
    gap: 40px;
}

.page-info .link{
    font-weight: 500;
    font-size: 16px;
    
    /* line-height: 24px; */ 
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--navy-blue);
    padding: 24px 0;
    display: block;
}

.page-info .link:hover,
.page-info .link:active{
font-weight: 500;
font-size: 16px;

/* line-height: 24px; */ 
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--ocean);
}

.contacts-list{
    display: flex;
    align-items: center;
    gap: 40px;
}

.contacts-info{
    display: flex;
    align-items: center;
    gap: 40px;
}

.contacts-info{
    font-style: normal;
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 40px;
}

.contact{
    font-weight: 400;
    font-size: 16px;
     /* line-height: 24px; */ 
    line-height: 1.5;
letter-spacing: 0.02em;
color: var(--slate);
margin-right: 40px;
padding: 24px 0;
}

.contact:last-child{
    margin-right: 0;
}

.studio-info .link:hover,
.studio-info .link:focus{
    color:var(--ocean);
    padding: 24px 0;
}

.contact{
    font-weight: 500;
    font-size: 16px;
    
    /* line-height: 24px; */ 
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--navy-blue);
    padding: 24px 0;
}
.contact:hover,
.contact:focus{
    color:var(--ocean);}

.made{
    background-color: var(--navy-blue);
    padding: 188px 0;
}

.page-title{
    font-family: var(--font-family);
    font-weight: 700;
font-size: 56px;
/* line-height: 60px; */ 
line-height: 1.07;
letter-spacing: 0.02em;
text-align: center;
color: var(--white);
max-width: 496px;
margin: 0 auto 48px;
}
.order-button{
background: var(--iris);
font-family: var(--font-family);
font-weight: 500;
font-size: 16px;

/* line-height: 24px; */ 
line-height: 1.5;
letter-spacing: 0.04em;
color: var(--white);
cursor: pointer;
display: block;
min-width: 169px;
height: 56px;
box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
padding: 16px 0;
border-radius: 4px;
border: none;
margin: 0 auto;
}
.order-button:hover,
.order-button:focus{
color: var(--white);
background: var(--ocean);

}

.page-advantages{
padding: 120px 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

  .list-advantages{
    display: flex;
    gap: 24px;
  }

.advantages-list-item{
width: calc((100% - 72px) / 4);
}

.our-team{
background-color: var(--cloud);
padding: 120px 0;
}

.member-name {
    text-align: center;
}

.member-role{
    text-align: center;
}

.back-team{
    display: flex;
    gap: 24px;
}

.title-advantages{
    text-transform: capitalize;
    font-weight: 700;
    font-size: 36px;
    
    /* line-height: 40px; */ 
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--navy-blue);
    margin-bottom: 72px;
}
    
.portfolio-section{
    padding-top: 120px; 
    padding-bottom: 120px; 
}

.portfolio-list{
    display: flex;
    flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 48px;
    column-gap: 24px;
}

.portfolio-item{
width: calc((100% - 48px) / 3);
}

.portfolio-item-text{
    border: 1px solid #e7e9fc;
    border-top: none;
    padding: 32px 16px;  
}


.title-points{
font-weight: 500;
font-size: 20px;

/* line-height: 24px; */ 
line-height: 1.2;
letter-spacing: 0.02em;
color: var(--navy-blue);
margin-bottom: 8px;
}



.description-skills{
    font-weight: 400;
font-size: 16px;

/* line-height: 24px; */ 
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--slate);

}

.footer-back{
background-color: var(--navy-blue);
padding: 100px 0;
}
.final-text{font-weight: 400;
    font-size: 16px;
    
    /* line-height: 24px; */ 
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--cloud);}

 .back{
    background-color: #FFFFFF;
    width: calc((100% - 24px * 3) / 4);
    border-radius: 0px 0px 4px 4px; 
 }

.text-name-item{
    padding: 32px 0;
}

 .container{
    max-width: 1158px;
    margin: 0 auto;
    padding: 0 15px;  
 }